---
import CardProduct from "./CardProduct.astro";
import productos from "../content/products/products.json";
interface Props {
  name: string;
}

const { name } = Astro.props;
const products = productos[name];
---

<div class="flex flex-col gap-8">
  {
    products?.map((product) => {
      const { title, description, url, finish, measures, glass } = product;
      return (
        <CardProduct
          name={name}
          description={description}
          title={title}
          url={url}
          finish={finish}
          measures={measures}
          glass={glass}
        />
      );
    })
  }
</div>
