---
import { type Product } from "../types";
import CardProduct from "./CardProduct.astro";

interface Props {
  products: Product[];
}

const { products } = Astro.props;
---

<div class="flex flex-col gap-8">
  {
    products?.map((product) => {
      const { type, title, description, url, finish, measures, typeGlass } =
        product;
      return (
        <CardProduct
          type={type}
          description={description}
          title={title}
          url={url}
          finish={finish}
          measures={measures}
          typeGlass={typeGlass}
        />
      );
    })
  }
</div>
